.card {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
}

.card h5 {
	margin-bottom: 10px;
}

.card p {
	margin: 10px;
}

.main {
	width: 75%;
	margin: 20px auto;
}
